  {% extends "layout.html" %}

{% block content %}

<h2>{{title}}</h2>

<p>
    Before we name the query page, we need to characterize it. That is to define ourselves what we want to apply. We go step by step from the simple
</p>


<form method=post>
    {{ form.csrf }}
    <table>
        <tr>
            <td class="input text"> {{ form.event.label }} </td>
            <td>                    {{ form.event }}       </td>
        </tr>
        <tr>
            <td class="input text"> {{ form.gender.label }} </td>
            <td>                    {{ form.gender }}       </td>
        </tr>
        <tr>
            <td></td>
            <td class="input submit"> <input type="submit" value="RUN"> </td>

        </tr>
    </table>
</form>


<h3> chart is </h3>
 <img src={{ chart }} class="img-thumbnail" alt="not found"> 


    {% endblock %}


